.aspect-ratio-video {
  position: relative;
  padding-top: 56.25%;
}
.aspect-ratio-document {
  position: relative;
  padding-top: 120%;
}
.aspect-ratio-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

// .aspect-ratio-video {
//   .aspect-ratio-content {
//     height: 100%;
//     width: calc(height * 2);
//   }
// }