@import "~@fullcalendar/core/main.css";
@import "~@fullcalendar/daygrid/main.css";

.calendar-container {
  padding: 16px;
  .calendar-control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 4px 10px 8px;
    .calendar-date {
      font-weight: bold;
      font-size: 1.5rem;
    }
  }
  .fullcalendar {
    max-width: 750px;
    margin: 0 auto;
  }
}

.event {
  padding: 20px 20px;
  margin: 4px 10px 16px 10px;
  border-radius: 0;
  border-left: 6px solid #3788d8;

  &__menu {
    margin-bottom: 10px !important;
    display: flex;
    justify-content: flex-end;
  }
  &__title {
    margin-bottom: 10px !important;
    font-size: 1.4rem;
    font-weight: bold;
  }
  &__description {
    margin: 0 !important;
    font-size: 1rem;
    white-space: pre-wrap;
  }
  &__actions {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
  }
}
.legend {
  margin: 12px 0 4px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  &__item {
    margin: 10px 14px 0 14px;
    display: flex;
    align-items: center;
  }
  &__name {
    font-size: 0.8rem;
  }
  &__color {
    height: 10px;
    width: 40px;
    margin-left: 10px;
  }
}
.no-info {
  margin: 10px 0 20px 0;
  color: #999999;
  font-size: 1.1rem;
  text-align: center;
}

.fc-widget-content {
  cursor: pointer;
}
.fc-event-container {
  font-size: 1rem;
  pointer-events: none;
}

.fc-toolbar {
  display: none;
}
.fc-scroller {
  overflow: hidden !important;
  height: auto !important;
}