.m-fullscreen {
  height: 100%;
  display: flex;
  flex-direction: column;

  .m-fullscreen-content {
    flex-grow: 1;
    overflow: auto;
  }
}

.m-fullcenter {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}