.m-table {
  width: 100%;
  thead {
    tr {
      th {
        padding: 6px 10px 6px 0;
        font-size: 1.05rem;
      }
    }
  }
  tbody {
    tr {
      td {
        padding: 3px 10px 3px 0;
        color: #505050;
        font-size: .9rem;
        font-weight: lighter;
      }
    }
  }
}