@import url('https://fonts.googleapis.com/css?family=Comfortaa:300,400,700&display=swap');

@import './animation.scss';
@import './aspect-ratio.scss';
@import './background.scss';
@import './layout.scss';
@import './m-card.scss';
@import './m-cardd.scss';
@import './m-cardx.scss';
@import './m-table.scss';

body, body * {
  font-family: Comfortaa, Arial, Helvetica, sans-serif;
}

/*Scrollbar*/
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background: rgb(224, 223, 223);
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(206, 206, 206);
}

// Medium devices (tablets, 768px and up)
@media (max-width: 1200px) { 
  html {
    font-size: 100%
  }
}
// Medium devices (tablets, 768px and up)
@media (max-width: 992px) { 
  html {
    font-size: 91%
  }
}
// Medium devices (tablets, 768px and up)
@media (max-width: 768px) { 
  html {
    font-size: 83%
  }
}
// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
  html {
    font-size: 75%
  }
}